<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container" *ngIf="!isLoading">
  <div class="list-header">
    <h1>muse.um</h1>
    <div class="view-buttons">
      <button (click)="isTable = false" mat-icon-button>
        <mat-icon color="primary" class="material-symbols-rounded"
          >grid_view</mat-icon
        >
      </button>
      <button (click)="isTable = true" mat-icon-button>
        <mat-icon color="primary" class="material-symbols-rounded"
          >table_rows</mat-icon
        >
      </button>
    </div>
  </div>

  <div [@fadeInUp]="artworks.length" class="grid-view" *ngIf="!isTable">
    <div *ngFor="let artwork of artworks">
      <app-card [artwork]="artwork"></app-card>
    </div>
  </div>

  <div [@fadeInUp]="artworks.length" class="table-view" *ngIf="isTable">
    <app-grid [artworks]="artworks"></app-grid>
  </div>
</div>
